body{
    font-family: 'Rubik', sans-serif !important;
}

h1{
    color: #2568fb;
    margin-bottom: 50px;
}

h3{
    color: #2568fb;
    margin-top: 50px;
}

.about-me{
    margin-top: 80px;
}
.navbar-nav > li{
    margin-left:40px;
}

.navbar-brand{
    color:black;
}

.nav-link{
    color: black;
}

.logo{
    width: 50px;
}

.navbar{
    background-color:  	#fecd45 !important;
}

a{
    text-decoration: none;
}